<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2016 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
    <appender name="EVENTS" class="ch.qos.logback.core.FileAppender">
        <file>./logs/application.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="AUDIT" class="ch.qos.logback.core.FileAppender">-->
    <!--<file>./logs/audit.log</file>-->
    <!--<encoder>-->
    <!--<charset>UTF-8</charset>-->
    <!--<pattern>%date %msg%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="se.omegapoint.facepalm.infrastructure.event.ApplicationEventLogger" additivity="false">
        <appender-ref ref="EVENTS"/>
    </logger>

    <!--<logger name="se.omegapoint.facepalm.infrastructure.event.AuditEventLogger" additivity="false">-->
    <!--<appender-ref ref="AUDIT"/>-->
    <!--</logger>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>