<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="EVENTS" class="ch.qos.logback.core.FileAppender">
        <file>./logs/events.log</file>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="se.omegapoint.facepalm.infrastructure.event.EventLogger" additivity="false">
        <appender-ref ref="EVENTS"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>