<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>OP Facepalm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<th:block th:fragment="newsletter">
    <h3 class="side-header">Subscribe to newsletter</h3>
    <form class="form-inline">
        <div class="form-group">
            <input type="email" class="form-control" placeholder="email@example.com"/>
        </div>
        <button type="submit" class="btn btn-default">Subscribe</button>
    </form>
</th:block>
</body>
</html>