<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>OP Facepalm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<th:block th:include="fragments/navbar_fragment :: navbar"/>
<section class="row">
    <main class="col-sm-4 col-sm-offset-3">
        <div th:each="post : ${posts}">
            <th:block th:include="fragments/post_fragment :: single_post"/>
        </div>
    </main>
    <aside class="col-sm-3">
        <th:block th:include="fragments/newsletter_fragment :: newsletter"/>
        <hr/>
        <th:block th:include="fragments/commercial_fragment :: commercials"/>
    </aside>
</section>
<th:block th:include="fragments/javascript_fragment :: javascript"/>
</body>
</html>