<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>OP Facepalm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<th:block th:include="fragments/navbar_fragment :: navbar"/>
<div class="row">
    <main class="col-md-offset-1 col-md-6">
        <section class="box">
            <th:block th:each="user : ${searchResult}">
                <article th:replace="fragments/search_result_fragment :: entry(user=${user})"></article>
            </th:block>
            <h3 th:if="${#lists.isEmpty(searchResult)}" th:text="#{no.results.found}">No results found</h3>
        </section>
    </main>
    <aside class="col-sm-3">
        <th:block th:include="fragments/newsletter_fragment :: newsletter"/>
        <hr/>
        <th:block th:include="fragments/commercial_fragment :: commercials"/>
    </aside>
</div>
<th:block th:include="fragments/javascript_fragment :: javascript"/>
</body>
</html>